[Unit]
Description=Cardano Node Private
After=network.target

[Service]
User=ubuntu
Type=simple
WorkingDirectory=/var/lib/cardano-node/private
ExecStart=/usr/local/cardano-node/bin/cardano-node run \
  --topology /usr/local/etc/cardano-node/private/topology.json \
  --database-path /var/lib/cardano-node/db \
  --socket-path /var/lib/cardano-node/private/node.socket \
  --port 3434 \
  --config /usr/local/etc/cardano-node/private/config.json
Restart=on-failure

[Install]
WantedBy=multi-user.target
