[Unit]
Description=Cardano DB Sync Service
After=network.target

[Service]
Environment=PGPASSFILE=/home/ubuntu/cardano-setup/cfg/pgpass
ExecStart=/home/ubuntu/cardano-db-sync/bin/cardano-db-sync \
  --config /home/ubuntu/mainnet/config/db-sync-config.json \
  --socket-path /home/ubuntu/mainnet/node.socket \
  --state-dir /home/ubuntu/mainnet/db-sync/ledger-state \
  --schema-dir /home/ubuntu/cardano-db-sync/schema/
User=ubuntu
Restart=on-failure

[Install]
WantedBy=multi-user.target
