[Unit]
Description=Ogmios Service
After=network.target

[Service]
User=ubuntu
Type=simple
ExecStart=/home/ubuntu/ogmios/bin/ogmios \
  --host=0.0.0.0 \
  --node-config=/home/ubuntu/mainnet/configs/config.json \
  --node-socket=/home/ubuntu/mainnet/node.socket
Restart=on-failure

[Install]
WantedBy=multi-user.target
